global
    maxconn 1000

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

listen postgres_write
    bind *:5000
    option httpchk GET /master
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server node1 ${NODE1_IP}:5432 maxconn 100 check port 8008
    server node2 ${NODE2_IP}:5432 maxconn 100 check port 8008
    server node3 ${NODE3_IP}:5432 maxconn 100 check port 8008

listen postgres_read
    bind *:5001
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server node1 ${NODE1_IP}:5432 maxconn 100 check port 8008
    server node2 ${NODE2_IP}:5432 maxconn 100 check port 8008
    server node3 ${NODE3_IP}:5432 maxconn 100 check port 8008
